---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import WhyUs from '../components/WhyUs.astro';
import CTA from '../components/CTA.astro';
import Pricing from '../components/Pricing.astro';
---

<html lang='en'>
  <head>
    <!-- TODO: CONVERT THE FONT TO LOCAL FONT-->
    <!-- TODO: convert all px to rem -->
    <!-- TODO: make the website responsive -->
    <!-- TODO: seperate functiobality into different files -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Landing Page Header</title>
    <link rel='stylesheet' href='/styles/global.css' />

    <link href='https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap' rel='stylesheet' />
    <script src='https://code.iconify.design/2/2.1.0/iconify.min.js'></script>
  </head>

  <body class='bg-[#000000] flex items-center flex-col min-h-dvh text-white'>
    <Navbar />
    <Hero />
    <Marquee />
    <WhyUs />
    <Pricing />
    <CTA />
  </body>
</html>
