<section class='call-to-action w-[90%] max-w-[1130px] my-[50px] mx-auto p-[30px] border-2 border-[#0c0e1b] gap-5 relative overflow-hidden rounded-[20px]'>
  <div class='cta-container'>
    <div class='cta-left flex-1 text-left'>
      <h2 class='cta-title text-[2rem] font-bold text-white'>Join Our Community</h2>
      <p class='cta-description text-[1.1rem]mb-5 text-[#a7a7a7] mb-3'>Connect with like-minded individuals, explore exclusive content, and get early access to new features!</p>
      <div class='cta-buttons flex gap-[15px]'>
        <a href='#' class='btn py-[10px] px-[25px] rounded-[30px] text-base flex gap-[10px] items-center discord-btn bg[#7289DA] text-white border-[2px] border-[#91a3ff]'>
          <span class='iconify' data-icon='fa-brands:discord' data-width='20' data-height='20'></span> Discord
        </a>
        <a href='#' class='btn py-[10px] px-[25px] rounded-[30px] text-base flex gap-[10px] items-center get-one-btn bg-[#6074DD] text-white border-[2px] border-[#91a3ff]'>
          <span class='iconify' data-icon='mdi:link' data-width='20' data-height='20'></span> Get One
        </a>
      </div>
    </div>
    <div class='cta-right flex-1 flex justify-end gap-5 relative'>
      <span class='random-icon' data-icon='mdi:home' data-width='40' data-height='40'></span>
      <span class='random-icon' data-icon='fa-solid:star' data-width='40' data-height='40'></span>
      <span class='random-icon' data-icon='mdi:check-circle' data-width='40' data-height='40'></span>
      <span class='random-icon' data-icon='fa-brands:github' data-width='40' data-height='40'></span>
    </div>
  </div>
</section>
