<section class='promo-section w-[90%] max-w-[1130px] relative text-white mt-[157px] mx-auto mb-[310px] max-md:p-5 max-md:text-center'>
  <h1 class='text-2xl md:text-[1.8rem] leading-[1.2em] md:text-5xl font-light text-transparent line-height-[1.2rem] text-left mb-5 max-width-[600px]'>
    Your bio link tool, <br /><span class='md:font-medium text-transparent font-semibold max-md:inline-block mt-[10px]'>streamlined and simple.</span>
  </h1>
  <p class='text-[0.9rem] md:text-base max-md:leading-[1.5em] mb-5 md:text-[1.1rem] color-[#a7a7a7] md:mb-10 max-w-[600px] text-left'>Create and manage professional bio links.</p>
  <div>
    <a
      href='#'
      class='btn py-[10px] px-5 text-[0.7rem] md:text-[0.8rem] mr-[5px] max-md:w-auto max-md:inline-block md:py-4 md:px-10 md:text-base rounded-[30px] lg:mr-[15px] explore-links bg-transparent border-2 border-[#36373a]'
      >EXPLORE LINKS</a
    >
    <a
      href='#'
      class='btn text-[0.7rem] py-[10px] px-5 md:text-[0.8rem] mr-[5px] max-md:w-auto max-md:inline-block md:py-4 md:px-10 md:text-base rounded-[30px] lg:mr-[15px] get-started bg-[#6074DD] border-2 border-[#91a3ff] text-white'
      >GET STARTED</a
    >
  </div>

  <div class='rating relative max-md:mt-5 max-md:text-center md:absolute -bottom-5 right-0 flex items-center'>
    <div class='rating-number text-2xl md:text-[2rem] lg:text-5xl text-[#6074DD] mr-[15px] md:mr-5 font-bold'>4.8/5</div>
    <div class='rating-wrapper flex flex-col items-start'>
      <div class='rating-stars max-md:justify-center flex text-[#ffd700] text-[1.2rem] md:text-2xl gap-4 mb-1'>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
      </div>
      <div class='rating-text text-[#6074DD] text-base'>Rated by top agencies</div>
    </div>
  </div>
</section>
