<div class='marquee-container w-full overflow-hidden relative py-[10px] px-0 border-2 border-[#0c0e1b] rounded-[15px] max-w-[1130px] mt-10 mb-10'>
  <div class='marquee-content scroll flex gap-[30px] py-[10px] px-5 w-fit whitespace-nowrap'>
    <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
      <span class='iconify' data-icon='fluent:link-12-regular' data-width='24' data-height='24'></span>
      Easy Bio Links
    </div>
    <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
      <span class='iconify' data-icon='fluent:data-pie-24-filled' data-width='24' data-height='24'></span>
      Advanced Analytics
    </div>
    <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
      <span class='iconify' data-icon='carbon:link' data-width='24' data-height='24'></span>
      Unlimited Links
    </div>
    <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
      <span class='iconify' data-icon='fa-solid:globe' data-width='24' data-height='24'></span>
      Custom Domains
    </div>
    <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
      <span class='iconify' data-icon='mdi:social-shatabler:socialre' data-width='24' data-height='24'></span>
      Social Media Integration
    </div>
  </div>
</div>
