---
import { marqueeList } from '../../lib/content/marquee';
---

<div class='marquee-container w-full overflow-hidden relative py-[10px] px-0 border-2 border-[#0c0e1b] rounded-[15px] max-w-[1130px] mt-10 mb-10'>
  <div class='marquee-content scroll flex gap-[30px] py-[10px] px-5 w-fit whitespace-nowrap'>
    {
      marqueeList.map((data) => (
        <div class='marquee-item flex items-center gap-[10px] text-[1.1rem] text-[#a7a7a7]'>
          <span class='iconify' data-icon={data.icon} data-width='24' data-height='24' />
          {data.name}
        </div>
      ))
    }
  </div>
</div>
