@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-family: "Instrument Sans", sans-serif;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}
